<mat-toolbar class="maxwidth" color="primary">
  <span routerLink="" style="cursor:pointer">Fake News</span>
  <span routerLink="newslist" >&nbsp; List News</span>
  <span class="spacer"></span>

  <div *ngIf="isUserLoggedIn == false" class="button-row">
      <button mat-button routerLink="/registration"> <mat-icon>person_add</mat-icon>&nbsp;Regisztráció</button>
      <button mat-button routerLink="/login"> <mat-icon>person</mat-icon>&nbsp;Bejelentkezés</button>
  </div>

  <div *ngIf="isUserLoggedIn == true" class="button-row">
    <span>Üdv, {{local.get('email')}}</span>
    <button mat-button (click)="logout()" ><mat-icon>exit_to_app</mat-icon>&nbsp;Kijelentkezés</button>
</div>

</mat-toolbar>
