.maxwidth {
    width: 100% !important;
    margin: 0;
}

.left-margin {
    margin-left: 12px;
}

.mat-button {
    font-size: 0.9em;
}
.spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    background-color: #3C3C3C;
}

#newssearch {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    height: 40%;
    width: 30%;
    font-size: 20px;
}

#searchButton {
    background-color: white;
    border:none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 27.59px;
}